name: code

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  command:
    strategy:
      matrix:
        mode:
          - command: prettier:check
          - command: test
      fail-fast: false

    name: ${{ matrix.mode.command }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version

      - run: yarn

      - run: yarn ${{ matrix.mode.command }}
